/* ============================================= */
/*                   Mixins                      */
/* ============================================= */

// Center containers

@mixin center {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

// Button themes

@mixin btn {
 margin-top: 15px;
 width: 100%;
 color: #fff;
 border: none;
 padding: 10px 0;
 text-transform: uppercase;
}

// Transition

@mixin transition {
    transition: background-color .3s ease-in;
}