/* ============================================= */
/*              Colors Variables                 */
/* ============================================= */

$white: #fff;
$frame: #ccc;

$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-text: #777;

/* ============================================= */
/*              Font Variables                   */
/* ============================================= */

$font-stack-primary: 'Lato', sans-serif;
$font-weight: (
    'light': 300,
    'bold': 700,
);

/* ============================================= */
/*                 Theme Colors                  */
/* ============================================= */

$themes: (
    'default': $color-secondary,
    'error': #e4757a,
    'info': #927bc1,
    'success': #63cc82,
    'warning': #fd7856,
);

/* ============================================= */
/*               Layout Variables                */
/* ============================================= */

$radius: 5px;

/* ============================================= */
/*           Media Queries Variables             */
/* ============================================= */

$breakpoint: '(min-width: 768px)';